# Dependencies
node_modules

# Environment files
.env
.env.*
!.env.example

# Build outputs
dist
build

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Test coverage
coverage
.nyc_output

# Documentation
*.md
!README.md

# Docker
docker-compose*.yml
Dockerfile*

# Misc
.cache
.parcel-cache
terraform
monitoring

